pipeline/GenerateStage.json
{
	"name": "GenerateStage",
	"properties": {
		"activities": [
			{
				"name": "GenerateStage",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ReadInputGenerateStage",
						"type": "DataFlowReference",
						"parameters": {
							"processId": {
								"value": "'@{pipeline().RunId}'",
								"type": "Expression"
							},
							"FileName": "'stage-'+$processId+'.csv'"
						},
						"datasetParameters": {
							"GenrateStage": {
								"FileName": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "StageToCosmos",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GenerateStage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "CosmosDbSqlApiSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "StageAzureBlobStorage",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@concat('stage-',pipeline().RunId,'.csv')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ItemAuditCosmosDbNoSqlDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ReadStageFile",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "StageToCosmos",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "StageAzureBlobStorage",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "@concat('stage-',pipeline().RunId,'.csv')"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReadStageFile",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GenerateStage').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "httpResponseStatus",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "httpResponseStatus",
								"value": "200"
							}
						},
						{
							"name": "Web2",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "httpResponseStatus",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": "https://laks-eus2-sb-ns-learn.servicebus.windows.net/adf-item-queue/messages",
								"body": {
									"oktaId": "@{item().oktaId}",
									"newNamespace": "breadcashback",
									"processId": "@{pipeline().RunId}"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://servicebus.azure.net"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Web2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Web2').output.statusCode, 400)\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "CopyToCosmosDB",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												},
												"jsonResponse": "@item()"
											},
											"sink": {
												"type": "CosmosDbSqlApiSink",
												"writeBatchSize": 1000,
												"writeBehavior": "insert",
												"writeBatchTimeout": "00:01:00"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "name"
														},
														"sink": {
															"name": "name"
														}
													},
													{
														"source": {
															"name": "value"
														},
														"sink": {
															"name": "value"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "Json1",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ItemAuditCosmosDbNoSqlDataset",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"httpResponseStatus": {
				"type": "String"
			}
		},
		"annotations": []
	}
}